page-options {


  button{
    padding:10px;
    font-size: 15px;
    border-radius:2px;
    background-color: #009688;
    color:white;
  }

  ion-content{
    padding-top: 10px;
  }

  h2{
    margin-bottom: 20%;
  }

  button{
    margin-bottom: 10%;
  }

  .createAccount{
    margin: 0px 10%;
  }

}
